@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --minha_fonte: Verdana, Geneva, Tahoma, sans-serif;
}

html::-webkit-scrollbar{
    display: none;
}


header{
    font-family: var(--minha_fonte);
    font-size: 1.2em;
    padding: 15px;
    color: white;
    background-color: black;

    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header a, header p {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: font-size 0.3s, color 0.3s;
}

.redesociais img{
    width: 100px;
    padding-right: 15px;
    transition: transform 0.3s, filter 0.3s;
}

.redesociais img:hover{
    transform: scale(1.2);
    filter: drop-shadow(6px 2px 3px rgb(4, 236, 0));
}

header a:hover{
    font-size: 1.3em;
    color: rgb(207, 0, 253);
}

main{
    width: 100%;
    /* lembrar de sempre usar min-heigh e estudar um pouco sobre */
    min-height: 100vh;
    background-image: url(../wallpapers/wallpaper_001.jpg);
    background-size: contain;
    flex: 1;
    overflow-x: hidden;
}

.fotoperfil{
    width: 300px;
    border-radius: 50%;
    padding-left: 15px;
    transition: filter 0.3s, transform 0.3s;
}

.fotoperfil:hover{
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px rgb(0, 140, 255));
    transform: scale(1.1);
}

/* Bloco "sobremim" é a div que possue minha foto é uma breve apresentação minha */

.sobremim{
    padding: 40px 0px 40px 0px;
    color: white;
    /* display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;

    align-items: center;
    justify-content: center;
}

.sobremim h1{
    padding-top: 50px;
}

.sobremim p{
    font-size: 1.3em;
    font-family: var(--minha_fonte);
    padding-top: 10px;
    font-weight: 300;
}

.textosobremim{
    transition: text-shadow 0.3s;
}

.textosobremim:hover{
    text-shadow: 3px 3px 3px rgb(255, 94, 0);
    cursor: pointer;
}
/* bloco "Meusestudos" possui sobre meu progresso em estudos específicos. */

.meusestudos{
    display: flex;
    flex-flow: column nowrap;
}

.meusestudos h3{
    color: white; 
    font-family: var(--minha_fonte);
    font-size: 1.3em;
    text-align: center;
    padding: 50px;
}

.informeusestudos{
    text-align: center;
    padding: 5px;
}

.informeusestudos img{
    width: 100px;
    transition: transform 0.3s, filter 0.3s;
}

.informeusestudos img:hover {
    transform: scale(1.2);
    filter: drop-shadow(6px 3px 3px rgb(77, 255, 0));
    cursor: pointer;
}


.informeusestudos p{
    padding-top: 10px;
    color: white;
    font-family: var(--minha_fonte);
    font-size: 1.2em;
}

.todososmeusestudos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.blocosecundario{
    color: white;
    font-family: var(--minha_fonte);
    font-size: 1.5em;
    padding-top: 30px;

    display: flex;
    justify-content: center;
    gap: 40px;
}

iframe{
    padding-top: 25px;
}

.minhascertificacoes{
    width: 600px;
    padding: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    background-color: rgba(95, 94, 94, 0.312);
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.minhascertificacoes h3{
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 25px;
}

.minhascertificacoes:hover{
    background-color: rgba(11, 11, 11, 0.932);  
    box-shadow: 3px 3px 3px blue;
}

#curriculo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

#curriculo h3 {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--minha_fonte);
    transition: transform 0.3s, color 0.3s, filter 0.3s;
}

#curriculo h3:hover, img:hover{
    transform: scale(1.05);
    color: whitesmoke;
    filter: drop-shadow(3px 3px 3px rgb(255, 0, 238));
}

#curriculo img {
    width: 100px;
    padding-left: 15px;
    transition: transform 0.3s;
}


.meusprojetos{
    padding: 10px;
    min-height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.meusprojetos a{
    color: white;
    font-family: var(--minha_fonte);
    text-align: center;
    text-decoration: none;
    font-size: 1.10em;
    transition: transform 0.4s, filter 0.3s, backdrop-filter 0.3s;
}

.meusprojetos a:hover{
    transform: scale(1.05);
    filter: drop-shadow(5px 5px 5px rgb(255, 0, 221));
    backdrop-filter: blur(5px);
}

.meusprojetos img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.projetos{
    border: 2px solid rgba(0, 117, 243, 0.873);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.304);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

footer{
    background-color: black;
    text-align: center;
    padding: 30px;
}

footer a{
    color: white;
    font-size: 1.2em;
    font-family: var(--minha_fonte);
    text-decoration: none;
    transition: text-shadow 0.3s, font-size 0.3s;
}

footer a:hover{
    text-shadow: 3px 3px 3px blue;
    font-size: 1.3em;
}

@media screen and (max-width: 820px){
    .redesociais img{
        width: 50px;
    }

    header, header a, header p{
        font-size: 1em;
    }

    header:hover, header a:hover, header p:hover{
        font-size: 1em;
    }

    header img:hover{
        transform: scale(1);
    }

    .fotoperfil{
        width: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .informeusestudos img{
        width: 75px;
    }

    .informeusestudos p{
        font-size: 1em;
    }

    .minhascertificacoes{
        width: 450px;
    }

    .blocosecundario{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1046px){
    .blocosecundario{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 666px) {
    iframe{
        width: 460px;
        height: 300px;
    }
}