@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --minha_fonte: verdana, Geneva, Tahoma, sans-serif;
}

html::-webkit-scrollbar{
    display: none;
}

img {
    width: 60px;
}

body{
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr minmax(400px, 800px) 1fr;
    grid-template-rows: 70px 1fr 50px;

    grid-template-areas: 
    "header header header"
    ".      main    ."
    "footer footer footer"
    ;
}

header{
    grid-area: header;
    background-color: lightblue;

    display: flex;
    justify-content: space-between;
}

main{
    grid-area: main;
    background-color: lightgreen;

    /* temporariamente */
    font-family: var(--minha_fonte);
    font-size: 1.1em;
    color: black;
    
}

footer{
    grid-area: footer;
    background-color: lightyellow;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: var(--minha_fonte);
}