@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --minha_fonte: verdana, Geneva, Tahoma, sans-serif;
}

html::-webkit-scrollbar{
    display: none;
}


img {
    width: 60px;
}

body{
    counter-reset: secao-projeto;
    /* Isso serve para criar o contador */

    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr minmax(400px, 800px) 1fr;
    grid-template-rows: 70px 1fr 50px;

    grid-template-areas: 
    "header header header"
    ".      main    ."
    "footer footer footer"
    ;

    background-image: url(../wallpapers/wallpaper_001.jpg);
    background-size: cover;
}


header{
    grid-area: header;
    background-color: lightblue;
    padding: 0px 5px 0px 5px;
    display: flex;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(5px);
    color: white;
    align-items: center;
}

header a, header p {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: font-size 0.3s, color 0.3s;
    font-family: var(--minha_fonte);
}

.redesociais img{
    width: 70px;
    padding-right: 15px;
    transition: transform 0.3s, filter 0.3s;
}

.redesociais img:hover{
    transform: scale(1.2);
    filter: drop-shadow(6px 2px 3px rgb(4, 236, 0));
}

header a:hover{
    font-size: 1.3em;
    color: rgb(207, 0, 253);
}


main{
    grid-area: main;
    backdrop-filter: blur(15px);

    /* temporariamente */
    font-family: var(--minha_fonte);
    font-size: 1.1em;
    color: rgb(255, 255, 255);

    padding: 15px;

    justify-items: center;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.651);

}

main h3::before{
    counter-increment: secao-projeto; 
    /* soma sempre mais +1 um incrimentador mesmo */

    content: counter(secao-projeto) " -     "; /* Serve para exibir o contador antes */

    color: yellow;
    font-weight: bolder;
    font-family: var(--minha_fonte);
}

main h3, .textos{
    text-align: start;
    justify-self: start;
    padding-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main h3:hover{
    transform: scale(1.03);
    text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.526);
    cursor: pointer;
}

.textos p{
    padding: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.textos p:hover{
    background-color: rgba(0, 0, 0, 0.348);
    box-shadow: inset 0px 0px 10px black;
    border-radius: 15px;
    transform: scale(1.03);
    cursor: pointer;
}

ul{
    padding-left: 30px;
    font-weight: bolder;
    font-family: var(--minha_fonte);
    list-style-position: inside;
    /* Serve para por a "bolinha" do ul dentro do background. */
}

ul span{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.9em;

}

li {
    padding: 8px;
    transition: background-color 0.3s ease;
}

li:hover{
    background-color: rgba(190, 5, 215, 0.436);
}

.areadedownload{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.areadedownload:hover{
    background-color: rgba(0, 0, 0, 0.637);
    box-shadow: 3px 3px 3px rgba(0, 0, 255, 0.379);
}


.areadedownload section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.areadedownload img{
    width: 50px;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.areadedownload img:hover{
    transform: scale(1.08);
    filter: drop-shadow(3px 3px 3px blue);
}

.areadedownload section a{
    padding-left: 15px;
    text-decoration: none;
    font-family: var(--minha_fonte);
    color: white;
    font-weight: bolder;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.areadedownload section a:hover{
    transform: scale(1.08);
    text-shadow: 3px 3px 3px rgba(10, 222, 10, 0.785);
}

h1{
    font-size: 1.2em;
    transition: transform 0.3s ease, text-shadow 0.3s;
}

h1:hover{
    transform: scale(1.03);
    text-shadow: 2px 2px 2px rgb(232, 8, 8);
}

.componentes li{
    transition: transform 0.2s ease;
    
}

.componentes li:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.esquemademontagem{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    width: 100%;
    line-height: 1.5;

    text-align: center;
}

.tabela_conexoes{
    margin-top: 12px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid rgb(213, 11, 236);
    transition: transform 0.3s ease, background-color 0.3s;
}

.tabela_conexoes:hover{
    cursor: pointer;
    background-color: black;
    transform: scale(1.03);
    box-shadow: 3px 3px 3px blue;
}

.tabela_conexoes td:last-child{
    transition: color 0.3s ease;
}

.tabela_conexoes:hover td:last-child{
    color: #007AFF;
}
.tabela_conexoes th{
    border: 2px solid rgb(213, 11, 236);
}

.tabela_conexoes td {
    border: 2px solid rgb(213, 11, 236);
}


.secao_conexoes h2{
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-bottom: 12px;
}

.secao_conexoes h2:hover{
    transform: scale(1.05);
    color: #007AFF;
    cursor: pointer;
}

.fotodoprojetofinal h2{
    font-family: var(--minha_fonte);
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    margin: 10px 0px 10px 0px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.fotodoprojetofinal h2:hover{
    transform: scale(1.05);
    color: #007AFF;
    cursor: pointer;
}

.fotodoprojetofinal img{
    width: 100%;
    padding: 25px;
    border-radius: 80px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.fotodoprojetofinal img:hover{
    filter: drop-shadow(3px 3px 4px blue);
    transform: scale(1.04);
    cursor: pointer;
}


.esquemademontagem h3{
    font-family: var(--minha_fonte);
}

.videoarduino{
    margin-top: 15px;
    width: 90%;
    text-align: center;
}

iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;

    box-shadow: 3px 3px 3px rgba(0, 0, 255, 0.199);
    transition: transform 0.3s, box-shadow 0.3s;
}

iframe:hover{
    transform: scale(1.04);
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.437);
}

footer{
    grid-area: footer;
    background-color: lightyellow;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: var(--minha_fonte);
}


@media screen and (max-width: 545px){
    #info_tabela_adicional{
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .sobrenome, .nomedocurso{
        display: none;
    }
    .redesociais img{
        width: 50px;
    }

    header, header a, header p{
        font-size: 1em;
    }

    header:hover, header a:hover, header p:hover{
        font-size: 1em;
    }

    header img:hover{
        transform: scale(1);
    }


}

