@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 15px;
    color: white;
    background-color: black;
    /* borda */
    border: 4px dashed rgb(255, 136, 0);
}

header p {
    font-size: 1.2em;
}

header a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(12, 161, 224);
    transition: font-size 0.3s, color 0.3s;
}

header a:hover{
    font-size: 1.3em;
    color: rgb(207, 0, 253);
}

main{
    /* Isso é só para testes, alterar em breve. */

    height: 600px;
    background-image: url(../wallpapers/wallpaper_001.jpg);
    background-size: cover;
}


.sobremim{
    /* possivelmente alterar em breve também */

    border: 6px solid rgb(0, 255, 0);
    color: white;
}

.meusestudos{
    border: 2px solid red;
    display: flex;
    flex-flow: column nowrap;
}

.informeusestudos{
    border: 3px dashed blue;
    text-align: center;
    padding: 5px;
}

/* Aqui está dentro do meu main */
.informeusestudos img{
    width: 100px;
}

.todososmeusestudos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
