@charset "UTF-8";

*{
    padding: 0p;
    border: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

body{
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr minmax(300px, 1000px)1fr;
    grid-template-rows: 50px 1fr 50px;

    grid-template-areas: 
    "header header header"
    ".      main        ."
    "footer footer footer";
}

header{
    grid-area: header;
    background-color: lightblue;
}

main{
    grid-area: main;
    background-color: lightcoral;
}

footer{
    grid-area: footer;
    background-color: lightblue;
}